<app-top-nav-bar> Loading... </app-top-nav-bar>
<div class=content>
    <section class="cardAndHeaderSection">
        <app-card-header class="cardHeader"> Loading... </app-card-header>
        <div class="d-flex cardSpacing">
            <div *ngFor="let card of cards">
                <app-card img={{card.img}} artistName={{card.artistName}} albumName={{card.albumName}}>
                    Loading...
                </app-card>
            </div>
        </div>
    </section>
</div>
<div>
    <app-information-bar class="fixed-bottom"> loading... </app-information-bar>
</div>