<div class="card cardContainer">
    <div class="card-body" style="height:100%">
        <div style="margin-bottom: 16px; position: relative;">
            <div style="--card-color: #777777;">
                <div>
                    <img src="/assets/illmatic.jpeg" class="card-img-top cardImg">
                </div>
            </div>
            <div style="right: 8px;">
                <div>
                    <button style="position: relative; z-index: 1;">
                        <span>
                            <span>

                            </span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div style="min-height: 62px">
            <a>
                <div class="albumName">
                    Illmatic
                </div>
            </a>
            <div>
                <a class="artistName" dir="auto" style="position: relative; z-index: 1;">
                    Nas
                </a>
            </div>
        </div>
    </div>
</div>