<app-top-nav-bar style="z-index: -1 top 0 px;"> Loading... </app-top-nav-bar>
<app-artist-header style="z-index: 0; top: 0px;"> Loading... </app-artist-header>
<app-play-bar> Loading... </app-play-bar>
<div class="contentSpacing">
    <div class="popularContainer">
        <div class="popularColumns">
            <h2 class="popularHeader" style="margin-bottom: 20px;">Popular</h2>
            <div class="colCount" role="grid" aria-rowcount="10" aria-colcount="4" aria-label="popular tracks">
                <div class="presentation" style="height:n560px;" role="presentation">
                    <div class="top">
                        <div class="rowPlaceholder">
                            <div class="colNumber"></div>
                            <div class="songName"></div>
                            <div class="monthlyListeners"></div>
                            <div class="playTime"></div>
                        </div>
                    </div>
                    <div style="transform: translateY(0px);" role="presentation">
                        <div *ngFor="let popular_section of popular_sections">

                            <app-popular-section img={{popular_section.img}} songName={{popular_section.songName}}
                                monthlyListeners={{popular_section.monthlyListeners}}
                                playTime={{popular_section.playTime}} rowIndex="{{popular_section.rowIndex}}">
                                Loading...
                            </app-popular-section>
                        </div>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
    <app-about-section></app-about-section>
</div>
