<div class="Container-fluid" id="sidebar">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center text-white text-decoration-none" style="padding-top: 16px;">
            <span class="fs-5 d-none d-sm-inline">
                <svg xmlns="http://www.w3.org/2000/svg" id="spotifyLogo" class="bi bi-spotify" viewBox="0 0 16 16"
                    style="padding-right: 0px;">
                    <path
                        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.669 11.538a.498.498 0 0 1-.686.165c-1.879-1.147-4.243-1.407-7.028-.77a.499.499 0 0 1-.222-.973c3.048-.696 5.662-.397 7.77.892a.5.5 0 0 1 .166.686zm.979-2.178a.624.624 0 0 1-.858.205c-2.15-1.321-5.428-1.704-7.972-.932a.625.625 0 0 1-.362-1.194c2.905-.881 6.517-.454 8.986 1.063a.624.624 0 0 1 .206.858zm.084-2.268C10.154 5.56 5.9 5.419 3.438 6.166a.748.748 0 1 1-.434-1.432c2.825-.857 7.523-.692 10.492 1.07a.747.747 0 1 1-.764 1.288z" />
                </svg>
                <a id="SpotifyText">
                    Spotify
                </a>
            </span>

        </a>
        <ul class="nav nav-pills flex-column  align-items-center align-items-sm-start" id="menu"
            style="padding-top: 8px;">
            <div>
                <li class="nav-item">
                    <a href="#" class="nav-link align-middle px-0" id="sidebarText">
                        <i class="fs-4 bi-house"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            class="bi bi-house-door-fill" viewBox="0 0 16 16">
                            <path
                                d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z" />
                        </svg>
                        <span class="ms-3 d-none d-sm-inline">Home</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="nav-link px-0 align-middle" id="sidebarText">

                        <i class="fs-4 bi-table"></i> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg> <span class="ms-3 d-none d-sm-inline">Search</span></a>
                </li>

                <li>
                    <a href="#" class="nav-link px-0 align-middle" id="sidebarText">
                        <i class="fs-4 bi-people"></i> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            fill="currentColor" class="bi bi-collection" viewBox="0 0 16 16">
                            <path
                                d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z" />
                        </svg><span class="ms-3 d-none d-sm-inline">Your Library</span> </a>
                </li>
            </div>
            <div style="padding-top: 24px;">
                <li>
                    <a href="#" class="nav-link px-0 align-middle" id="sidebarText">
                        <i class="fs-4 bi-people"></i> <svg xmlns="http://www.w3.org/2000/svg" id="sidebarIcon"
                            class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                            <path
                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
                        </svg><span class="ms-3 d-none d-sm-inline">Create Playlist</span> </a>
                </li>
                <li>
                    <a href="#" class="nav-link px-0 align-middle" id="sidebarText">
                        <i class="fs-4 bi-people"></i> 
                        <svg xmlns="http://www.w3.org/2000/svg" id="sidebarIcon" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"  d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                        </svg>
                        <span class="ms-3 d-none d-sm-inline">Liked Songs</span> 
                    </a>
                </li>
            </div>
            <div style="padding-top: 390px;">
                <a href="#" class="nav-link px-0 align-middle" id="sidebarExtraText">
                    <i class="bi-people"></i>
                    <span class="d-none d-sm-inline">Cookies</span> </a>
                <a href="#" class="nav-link px-0 align-middle" id="sidebarExtraText">
                    <i class=" bi-people"></i>
                    <span class="-none d-sm-inline">Privacy</span> </a>
            </div>
        </ul>
        <hr>
    </div>
</div>