#sidebar {
    opacity: 06;
    background-color: #121212;
    margin-left: auto;
}

#sidebarText {
    font-size: 0.875rem;
    color: #a7a7a7;
    margin-block: 0px;
    padding-top: 6px;
    padding-bottom: 0px;
    font-weight: 700;
    font-family: var(--font-family, CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, ));

}
#sidebarText:hover{
    color: #fff;
}

#sidebarIcon {
    width: 24px;
    height: 24px;
    fill: currentColor;
    border-radius: 10%;
}

#sidebarExtraText{
    font-size: 0.6875rem;
    color: #a7a7a7;
    margin-block: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: 400;
    font-family: var(--font-family, CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, ));
    padding-left: 8px;
    padding-top: 6px;
}

#sidebarExtraText:hover{
    text-decoration: underline;
} 

#spotifyLogo {
    height: 55px;
    fill: currentColor;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    position: relative;
    font-size: 1rem;
    font-weight: 700;
    min-block-size: 48px;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    padding-block: 8px;
    padding-inline: 8px;
}

#SpotifyText{
    box-sizing: border-box;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8rem;
    position: relative;
    text-align: center;
    vertical-align: middle;
    color: currentColor;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
}
#menu {
    margin-left: 8px;
}