.contentSpacing {
    padding: 0 32px;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, rgba(239, 187, 207, 0.3), rgba(0, 0, 0, 0.4)),
    url('https://i.scdn.co/image/ab6761860000101623f740d8024b6e88db9d7eb8');
    background-size: cover  ;
    height: 40vh;
    max-height: none;
    min-height: 360px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: none;
    overflow: hidden;
    position: relative;
    padding-bottom: 24px;


}

.innerContainer {
    align-content: space-between;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: end;
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: flex-end;
    z-index: 0;
}

.verifiedArtist {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: inline-grid;
    gap: 8px;
    grid-template-columns: auto 1fr;
}

.patchCheckFill {
    fill: var(--text-announcement, #0c67d3);
}

.verfiedArtistText {
    font-size: 0.875rem;
    box-sizing: border-box;
    margin-block: 0px;
    font-weight: 400;
    font-family: var(--font-family, CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, ));
    color: #ffffff;
}

.artistHeaderContainer {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    line-height: normal;
    margin-top: 8px;
    overflow: hidden;
    text-align: left;
    width: 100%;
    word-break: break-word;
}

.artistHeader {
    margin: 0.08em 0px 0.12em;
    visibility: visible;
    width: 100%;
    font-size: 6rem;
    box-sizing: border-box;
    margin-block: 0px;
    font-weight: 900;
    font-family: var(--font-family, CircularSpTitle, CircularSpTitle-Tall, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, ));
    color: #ffffff
}

.monthlyListeners {
    font-size: 1rem;
    line-height: 2;
    margin-top: 4px;
}