.outerHeader {
    border: 0;
    margin: 0;
    padding: 0;
}

.flexContainer {
    display: flex;
    margin-bottom: 16px;
}

.innerContainer {
    -webkit-box-flex: 1;
    display: block;
    flex-grow: 1;
    line-height: normal;
    min-width: 0;
}

.heading {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--font-family, CircularSpTitle, CircularSpTitle-Tall, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, ));
    color: var(--text-base, #000000);
}

.text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    color: #ffff;
}

.text:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.linkContainer {
    margin-left: 8px;
    background: transparent;
    color: #b3b3b3;
    white-space: nowrap;
    text-decoration: none;
}

.span {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 0.625rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: var(--font-family, CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, ));
    color: inherit;
}

.span:hover{
    text-decoration: underline;
    cursor: pointer;
}