<div class="aboutAndMerchContainer">
    <div class="aboutContainer">
        <h2 class="aboutHeader" style="margin-bottom: 20px;">About</h2>
        <div>
            <button class="button">
                <div class="tag">
                    <div class="value">#194</div>
                    <div class="inTheWorld">in the world</div>
                </div>
                <div class="descriptionContainer">
                    <div class="monthlyListeners">19,908,417 monthly listeners</div>
                    <div class="description">
                        Coming on the scene with a throwback style that betrayed his years, Pittsburgh-based rapper and
                        producer Mac Miller combined languid vocals, playful rhymes, and hypnotic production influenced
                        by
                        <a class="link">OutKast</a>, 
                        <a class="link">Beastie Boys</a>, 
                        <a class="link">A Tribe Called Quest</a>, and
                        <a class="link">Laurell Hill</a>
                    </div>
                </div>
            </button>
        </div>
    </div>
</div>